/***  Table of Contents  ***/

// 1. Layout - 7
// 2. Typography - 50
// 3. Buttons - 152
// 4. images - 228

/***  Layout  ***/

@mixin media-query-min($value, $operator: "min-width", $query: "screen") {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

@mixin media-query-max($value, $operator: "max-width", $query: "screen") {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

/* ##usage##
      @include media-query-min(500px) {
      }
    */
$xs: 400px;
$sm: 768px;
$md: 1000px;
$lg: 1250px;
$xl: 1800px;

.layout-container {
  // overflow: hidden;
  max-width: 350px;
  width: 90%;
  margin: auto;

  @include media-query-min($xs) {
    max-width: 498px;
    width: 80%;
  }

  @include media-query-min($sm) {
    max-width: 800px;
    width: 80%;
  }

  @include media-query-min($md) {
    max-width: 1000px;
  }
}

//used everwhere a group of article cards is displayed
.card--grid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fill, minmax(min(25.5rem, 100%), 1fr));
  grid-row-gap: 70px;
  grid-column-gap: 70px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  max-width: 1200px;

  &.single-page {
    margin: 35px auto;

    @include media-query-min($md) {
      margin: 100px auto;
    }
  }
}

ul {
  padding-left: 0px;
}

.hr--topic {
  margin-bottom: 16px;

  @include media-query-min($md) {
    margin-bottom: 40px;
  }
}

.hr--related {
  margin-bottom: 35px;
}

.hr--article-card {
  height: 1px;
  margin-bottom: 0px;
}

/***  Type  ***/

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap");

@font-face {
  font-family: "halcyon-regular";
  src: url("../fonts/halcyon_regular_macroman/halcyon-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_regular_macroman/halcyon-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-semibolditalic";
  src: url("../fonts/halcyon_semibolditalic_macroman/halcyon-semibolditalic-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_semibolditalic_macroman/halcyon-semibolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-thinitalic";
  src: url("../fonts/halcyon_thinitalic_macroman/halcyon-thinitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_thinitalic_macroman/halcyon-thinitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-thin";
  src: url("../fonts/halcyon_thin_macroman/halcyon-thin-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_thin_macroman/halcyon-thin-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-semibold";
  src: url("../fonts/halcyon_semibold_macroman/halcyon-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_semibold_macroman/halcyon-semibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-medium";
  src: url("../fonts/halcyon_medium_macroman/halcyon-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_medium_macroman/halcyon-medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-light";
  src: url("../fonts/halcyon_light_macroman/halcyon-light-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_light_macroman/halcyon-light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-regularitalic";
  src: url("../fonts/halcyon_italic_macroman/halcyon-regularitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_italic_macroman/halcyon-regularitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-bold";
  src: url("../fonts/halcyon_bold_macroman/halcyon-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_bold_macroman/halcyon-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "halcyon-black";
  src: url("../fonts/halcyon_black_macroman/halcyon-black-webfont.woff2")
      format("woff2"),
    url("../fonts/halcyon_black_macroman/halcyon-black-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

html {
  font-size: 62.5%;
}

$headerFont: "Source Serif Pro", serif;
$bodyFont: "Source Serif Pro", serif;
$accentFont: "halcyon-regular", sans-serif;
$semibold: "halcyon-semibold", sans-serif;
$medium: "halcyon-medium", sans-serif;

$gusGreen: #339933;
$soil: #913029;
$wheat: #faf4ec;
$teaGreen: #d3e5a0;
$gusYellow: #f8dd8b;
$grey: #707070;
$white: #fff;
$black: #000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  margin: 0;
  // padding: 20px;
}

.footer--container.span {
  font-family: $headerFont;
  font-weight: bold;
}

a.card-text {
  color: black;
}

p {
  margin: 8px 0;
}

p,
a,
li {
  letter-spacing: 0.2rem;
  font-family: $bodyFont;
  font-size: 1.7rem;
  line-height: 25px;
  color: black;
  font-weight: 400;

  @include media-query-min($sm) {
    font-size: calc(17px + 3 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(2);
    line-height: 32px;
  }
}

a {
  text-decoration: none;
  color: $soil;
  font-weight: 600;
  font-family: $bodyFont;
}

li {
  font-family: $bodyFont;
  font-size: 1.8rem;
}

ul {
  li {
    list-style: none;
  }
}

.paragraph--bold {
  font-weight: 700;
}

hr {
  height: 3px;
  border: 0px;
  background: $teaGreen;
  margin-bottom: 65px;
}

.wp-block-separator {
  position: relative;
  background: transparent;
  overflow: initial;
  margin-bottom: 100px;

  &::after {
    content: url("../public/singlestalk-square.svg");
    height: 60px;
    width: 60px;
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

em {
  font-family: $bodyFont;
  font-size: 1.6rem;
  font-weight: 800;
}

em {
  font-family: $bodyFont;
  font-size: 1.6rem;
  font-weight: 800;
}

.start-small {
  height: 3px;
  border: 0px;
  background: $teaGreen;
  margin-bottom: 25px;
}

h1,
.h1 {
  letter-spacing: 0.2rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 105%;
  color: $gusGreen;

  @include media-query-min($sm) {
    font-size: calc(32px + 44 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(7.6);
    margin-top: 40px;
  }
}

.awards-hed {
  font-size: 2.8rem;

  @include media-query-min($sm) {
    font-size: calc(28px + 30 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(5.8);
  }
}

.article--title {
  letter-spacing: 0.2rem;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 105%;
  color: $gusGreen;

  @include media-query-min($sm) {
    font-size: calc(36px + 16 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(5.2);
  }
}

h2,
.h2 {
  letter-spacing: 0.2rem;
  font-size: 2.8rem;
  line-height: 155%;
  color: white;
  font-weight: 900;

  @include media-query-min($sm) {
    font-size: calc(28px + 30 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(5.8);
  }
}

h3,
.h3 {
  letter-spacing: 0.2rem;
  color: $gusGreen;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 115%;

  @include media-query-min($sm) {
    font-size: calc(2.6rem + 10 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(5.2);
    line-height: 100%;
  }
}

h4 {
  letter-spacing: 0.2rem;
  font-size: 2.8rem;
  line-height: 150%;
  color: $gusGreen;
  font-weight: 900;

  @include media-query-min($sm) {
    font-size: calc(28px + 20 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(4.8);
    line-height: 150%;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
  color: $soil;
  font-weight: 700;

  @include media-query-min($sm) {
    font-size: calc(18px + 16 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(3.4);
    line-height: 150%;
  }
}

h6 {
  font-family: $semibold;
  font-size: 1.5rem;
  font-weight: 600;
  color: $soil;

  @include media-query-min($sm) {
    font-size: calc(14px + 1 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(1.5);
    line-height: 150%;
  }
}

.head--article-card {
  font-family: $headerFont;
  font-weight: 900;
  color: $gusGreen;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.body {
  font-family: $bodyFont;
  font-size: 1.7rem;
  line-height: 2.5rem;

  @include media-query-min($sm) {
    font-size: calc(17px + 3 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(2);
    line-height: 150%;
  }
}

.deck--article-card {
  font-family: $accentFont;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: black;
  margin-bottom: 10px !important;

  @include media-query-min($sm) {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(1.6);
    line-height: 20px;
  }
}

.deck {
  font-family: $medium;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: black;
  margin: 15px 0 40px;

  @include media-query-min($sm) {
    margin: 22px 0 40px;
    font-size: calc(16px + 4 * ((100vw - 320px) / 680));
    line-height: 2.1rem;
    margin: 15px 0 40px;
  }

  @include media-query-min($md) {
    @include font-size(2);
    line-height: 2.4rem;
    margin: 25px 0 40px !important;
    font-family: $accentFont;
  }
}

.deck--topic-feature {
  font-family: $semibold;
  font-size: 1.8rem;
  line-height: 2rem;
  color: black;
  margin: 0;

  @include media-query-min($sm) {
    font-size: calc(18px + 8 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(2.6);
    line-height: 32px;
  }
}

.byline {
  font-family: $headerFont;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: black;
  margin-bottom: 10px;

  @include media-query-min($sm) {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(1.6);
    line-height: 2rem;
  }
}

.byline--image {
  position: relative;
  overflow: hidden;
  flex: none;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  margin-right: 10px;
}

.byline--article-card {
  font-family: $headerFont;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
}

.article-details {
  display: flex;
  align-items: center;
}

.date--article-card {
  font-family: $accentFont;
  font-size: 1.3rem;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.6rem;
}

.date--single-article {
  font-family: $accentFont;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: black;

  @include media-query-min($sm) {
    font-size: calc(12px + 2 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(1.4);
    line-height: 18px;
  }
}

.deck--index-feature {
  font-family: $headerFont;
  font-size: 2.4rem;
  font-weight: 600;
  font-style: italic;
  color: black;

  @include media-query-min($sm) {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(2.4);
    line-height: 32px;
  }
}

.byline--index-feature {
  font-family: $accentFont;
  font-size: 2.2rem;
  color: black;

  @include media-query-min($sm) {
    font-size: calc(13px + 9 * ((100vw - 320px) / 680));
  }

  @include media-query-min($md) {
    @include font-size(2.2);
    line-height: 32px;
  }
}
.byline-link {
  align-items: center;
  display: flex;
}

.pullquote {
  font-family: $semibold;
  font-size: 2.8rem;
  color: $gusGreen;
  line-height: 3.2rem;

  @include media-query-min($sm) {
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
    line-height: 2rem;
  }

  @include media-query-min($md) {
    @include font-size(2.8);
    line-height: 32px;
  }
}

.contributor-name {
  font-family: $headerFont;
  font-size: 2rem;
  font-weight: 900;
  color: $gusGreen;
}

.team-name {
  font-family: $headerFont;
  font-size: 2.8rem;
  font-weight: 900;
  color: $gusGreen;

  @include media-query-min($sm) {
    font-size: calc(16px + 12 * ((100vw - 320px) / 680));
    line-height: 2rem;
  }

  @include media-query-min($md) {
    @include font-size(2.8);
    line-height: 32px;
  }
}

.related--header {
  width: 90%;
  margin: 50px auto 0;
}

.newsletter-header--footer {
  font-family: $headerFont;
  font-size: 2rem;
  font-weight: 600;
  color: $gusGreen;
  margin: 40px 10px 10px 10px;

  @include media-query-min($xs) {
    margin: 50px 18px 10px 18px;
  }

  @include media-query-min($sm) {
    font-size: calc(20px + 8 * ((100vw - 320px) / 680));
    line-height: 3.2rem;
    margin: 150px 20px 0 20px;
  }

  @include media-query-min($md) {
    @include font-size(2.8);
    line-height: 32px;
    margin: 0 20px 20px 0;
  }
}

p.newsletter-subheader--footer {
  font-family: $accentFont;
  font-size: 1.3rem;
  color: $soil;
  margin: 10px;
  line-height: 1.8rem;
  @include media-query-min($xs) {
    margin: 10px 18px 18px 18px;
  }

  @include media-query-min($sm) {
    font-size: calc(13px + 7 * ((100vw - 320px) / 680));
    line-height: 2.6rem;
    margin: 20px;
  }

  @include media-query-min($md) {
    @include font-size(2);
    line-height: 2.4rem;
    margin: 10px 0;
  }
}

p.newsletter-header--primary {
  font-family: $headerFont;
  font-size: 2rem;
  font-weight: 600;
  color: $gusGreen;
  line-height: 2.2rem;
  width: 90%;

  @include media-query-min($xs) {
    font-size: calc(20px + 47 * ((100vw - 320px) / 680));
    line-height: 100%;
  }

  @include media-query-min($md) {
    @include font-size(6.7);
    line-height: 100%;
  }
}

.category-label {
  line-height: 105%;
  letter-spacing: 0;
  margin-top: 10px;
}

p.newsletter-subheader--primary {
  font-family: $accentFont;
  font-size: 1.4rem;
  line-height: 16px;
  color: $soil;
  width: 80%;

  @include media-query-min($xs) {
    font-size: calc(14px + 22 * ((100vw - 320px) / 680));
    line-height: 110%;
  }

  @include media-query-min($md) {
    @include font-size(2.6);
    line-height: 3.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

p.event--date,
.event--location {
  font-family: $accentFont;
  font-size: 1.6rem;

  @include media-query-min($sm) {
    font-size: calc(16px + 8 * ((100vw - 320px) / 680));
    line-height: 26px;
  }

  @include media-query-min($md) {
    @include font-size(2.4);
    line-height: 36px;
  }
}

p.single-event--date {
  font-family: $headerFont;
  font-size: 2rem;
  font-weight: 700;
  color: $gusGreen;

  @include media-query-min($sm) {
    font-size: calc(20px + 12 * ((100vw - 320px) / 680));
    line-height: 28px;
  }

  @include media-query-min($md) {
    @include font-size(32px);
    line-height: 40px;
  }
}

p.event--description {
  font-family: $bodyFont;
  font-size: 1.4rem;
  line-height: 2rem;

  @include media-query-min($sm) {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    line-height: 26px;
  }

  @include media-query-min($md) {
    @include font-size(20px);
    line-height: 32px;
  }
}

span.topic-menu {
  font-family: $accentFont;
  font-size: 3.2rem;
  font-weight: 500;
  color: $gusGreen;
}

span.footer-menu {
  font-family: $headerFont;
  font-size: 1.6rem;
  font-weight: 700;
  color: $gusGreen;

  @include media-query-min($sm) {
    font-size: calc(16px + 12 * ((100vw - 320px) / 680));
    line-height: 2rem;
  }

  @include media-query-min($md) {
    @include font-size(2.8);
    line-height: 32px;
  }
}

a.footer-link {
  font-family: $accentFont;
  font-size: 1.3rem;
  color: black;

  @include media-query-min($sm) {
    font-size: calc(13px + 5 * ((100vw - 320px) / 680));
    line-height: 1.3rem;
  }

  @include media-query-min($md) {
    @include font-size(1.8);
    line-height: 24px;
  }
}

a.footer-link:active {
  color: $gusGreen;
}

a.action-menu {
  font-size: 2rem;
  font-family: $semibold;
  color: $soil;
}

li.nav-link button {
  font-size: 2.4rem;
  color: black;

  @include media-query-min($sm) {
    font-size: calc(24px + 8 * ((100vw - 320px) / 680));
    line-height: 3rem;
  }

  @include media-query-min($md) {
    @include font-size(3.2);
    line-height: 3.2px;
  }
}

.navlink--active {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50%;
    background: $gusGreen;
    left: 50%;
    transform: translateX(-50%);
  }
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-left {
  text-align: left;
}

/***  Utilities  ***/

.no-button {
  background: transparent;
  border: 0px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-sm-row {
  @include media-query-min($sm) {
    flex-direction: row;
  }
}

.flex-sm-column {
  @include media-query-min($sm) {
    flex-direction: column;
  }
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

/***  Buttons  ***/

.btn--primary {
  background-color: $soil;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px 0;
  border: 0px;
  color: $wheat;
  font-family: $semibold;
  font-weight: 600;
  font-size: 16px;

  transition: all 0.25s ease-in;

  &:hover {
    background: $gusGreen;
    transition: all 0.25s ease-in;
  }

  a {
    color: white;
    font-family: $bodyFont;
    font-size: 16px;
  }

  text-align: center;
}

.btn--secondary {
  border-radius: 5px;
  margin: 5px;
  font-family: $medium;
  color: $soil;
  font-size: 1.6rem;

  @include media-query-min($sm) {
    font-size: calc(16px + 8 * ((100vw - 320px) / 680));
    line-height: 2rem;
  }

  @include media-query-min($md) {
    @include font-size(2.4);
    line-height: 28px;
  }

  background: transparent;
  border: 0px;
  text-align: left;
  padding: 3px 15px;

  @include media-query-min($sm) {
    font-size: calc(16px + 8 * ((100vw - 320px) / 680));
    line-height: 2.4rem;
  }

  @include media-query-min($md) {
    @include font-size(2.4);
    line-height: 30px;
    padding: 3px 30px;
  }
}

/***  Images  ***/

img {
  max-width: 100%;
}

.img--full {
  width: 100%;
  margin: 100px 0;

  img {
    width: 100%;
    object-fit: cover;
  }
}

//Custom block styles

.newsletter-block {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 680px;
  margin: 45px auto;
  background-color: #f0e7db;

  .signupWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.wrapper--support {
      width: 100%;
    }
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0px 20px 20px;

  @include media-query-min($sm) {
    padding: 30px;
  }

  @include media-query-min($md) {
    position: relative;
    left: 40px;
    padding: 40px;
    width: 70%;
  }

  input {
    height: 38px;
    max-width: 280px;

    @include media-query-min($xs) {
      width: 200px;
      margin-right: 20px;
    }
  }

  &.text--support {
    padding: 45px;
  }

  button {
    background-color: $soil;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 0;
    border: 0px;
    color: $wheat;
    font-family: $accentFont;
    font-weight: 600;
    font-size: 16px;

    transition: all 0.25s ease-in;

    &:hover {
      background: $gusGreen;
      transition: all 0.25s ease-in;
    }

    a {
      color: white;
      font-family: $bodyFont;
      font-size: 16px;
    }

    text-align: center;
  }
}

.triple-stalk {
  height: 100%;
  min-width: 40%;

  @include media-query-min($sm) {
    min-width: 30%;
  }

  @include media-query-min($md) {
    position: relative;
    left: -40px;
    min-width: 30%;
  }

  flex-direction: row;
  padding: 2%;
}

.input-container {
  margin-left: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-query-min($md) {
    flex-direction: row;
  }
}

//Loader animation

@keyframes dashStalk {
  from {
    stroke-dashoffset: 400;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashFloret {
  from {
    stroke-dashoffset: 200;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.stalk-path {
  fill: transparent;
  stroke: $gusGreen;
  stroke-dasharray: 400;
  // stroke-dashoffset: 200;
  animation: dashStalk 4s infinite;
}

.floret-path {
  fill: transparent;
  stroke: $gusGreen;
  stroke-dasharray: 200;
  // stroke-dashoffset: 200;
  animation: dashFloret 4s infinite;
}
